/* Общие стили */
body {
    background-color: ##f5f7fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #495057;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Russo One', sans-serif !important; /* Стильный шрифт для текста */
    font-weight: 400;
    transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Russo One', sans-serif !important; /* Выразительный заголовочный шрифт */
    font-weight: normal;
    line-height: 1.2;
}

.container.mt-5.pt-4 {
    flex: 1;
}

.mt-5 {
    margin-left: 0;
}

.img-fluid {
    border-radius: 0.25rem;
}
