/* Темная тема */
.dark-theme body {
    background-color: #212529;
    color: #f8f9fa;
}

.dark-theme .navbar {
    background-color: #212529;
}

.dark-theme .navbar-brand {
    color: #fff !important;
}

.dark-theme .navbar-nav .nav-link {
    color: #fff !important;
}

.dark-theme .navbar-nav .nav-link:hover,
.dark-theme .navbar-nav .nav-link.active {
    color: #66b3ff !important; /* Более светлый синий акцент для темной темы */
}

.dark-theme footer {
    background-color: #343a40;
    border-top-color: #495057;
    color: #adb5bd;
}

.dark-theme .modal-content {
    background-color: #343a40;
    color: #f8f9fa;
}

.dark-theme .modal-header {
    background-color: #495057;
    border-bottom-color: #6c757d;
}

.dark-theme .modal-footer {
    border-top-color: #6c757d;
}

.dark-theme canvas {
    background-color: #343a40;
}

.dark-theme .page-link {
    color: #66b3ff;
    background-color: #343a40;
    border-color: #495057;
}

.dark-theme .page-link:hover {
    background-color: #495057;
    border-color: #6c757d;
    color: #80cfff;
}

.dark-theme .page-item.disabled .page-link {
    color: #adb5bd;
    background-color: #343a40;
    border-color: #495057;
}

.dark-theme .choices__inner {
    background-color: #343a40;
    color: #f8f9fa;
    border-color: #495057;
}

.dark-theme .choices__list--multiple .choices__item {
    background-color: #66b3ff;
    border-color: #80cfff;
    color: #212529;
}